name: Build Release

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/voidrot/cloudflare-ddns-ui
          tags: |
            type=sha
            type=semver,pattern={{version}}
          labels: |
            org.opencontainers.image.title=cloudflare-ddns-ui
            org.opencontainers.image.description=Web UI for Cloudflare DDNS
            org.opencontainers.image.vendor=voidrot
            org.opencontainers.image.licenses=MIT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
